ul{
    background:black;
    width:100%;
    height: 80px;
    padding-top: 30px;
}
li{
    color: white;
    display: inline;
    width:100px;
    border-radius: 8px;
    border-bottom-color: cornflowerblue;
    border-right:none;
    border:#ffffff thin solid;
    cursor: pointer;
    
    
}
li:hover{
    font-size: 30px;
    border-bottom-style: groove;
}
body{
    background: cornflowerblue;
}
